* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #FFFFFF;
}

.navbar {
  z-index: 1  ;
  position: relative;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  padding: 24px 48px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.navbar .container .container-left,
footer .first-section .logo {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 9;
}

.navbar .container .container-left .logo-brand,
footer .first-section .logo .logo-brand {
  width: 32px;
  height: 32px;
}

 .navbar .container .container-left .name-brand,
 footer .first-section .logo .name-brand {
  padding-left: 9px;
}

.navbar .container .container-left .name-brand h1,
footer .first-section .logo .name-brand h1 {
  font-size: 18px;
  color: #2F241F;
}

.navbar .container .container-right {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar .container .container-right .hamburgerIcon {
  display: flex;
  flex-direction: column;
  border: none;
  background: none;
  cursor: pointer;
}

.navbar .container .container-right .hamburgerIcon .line-first, 
.navbar .container .container-right .hamburgerIcon .line-second, 
.navbar .container .container-right .hamburgerIcon .line-third {
  border: 1px groove #101828;
  background-color: #101828;
  padding: 0.5px;
  margin: 3px 0;
  border-radius: 12px;
}

.navbar .container .container-right .hamburgerIcon .line-first {
  width: 15px;
}

.navbar .container .container-right .hamburgerIcon .line-second {
  width: 30px;
}

.navbar .container .container-right .hamburgerIcon .line-third {
  width: 21px;
}

.navbar .container .container-right ul {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 96px;
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background: rgb(255, 255, 255);
  clip-path: circle(0);
  transition: all 0.5s ease;
}

.navbar .container .container-right ul.active {
  clip-path: circle(100%);
}

.navbar .container .container-right ul .close {
  position: absolute;
  right: 6%;
  top: 1%;
  padding: 12px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 24px;
}

.navbar .container .container-right ul .container-right-first {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar .container .container-right ul .container-right-second {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.navbar .container .container-right ul .container-right-first li a,
.navbar .container .container-right ul .container-right-second li a {
  padding: 3px;
  font-size: 16px;
  color: black;
}

.navbar .container .container-right ul .container-right-first li a .fa-chevron-down {
  display: none;
}

.navbar .container .container-right ul .container-right-second li {
  display: flex;
  flex-direction: row;
}

.navbar .container .container-right ul .container-right-second li a {
  padding: 12px 24px;
  background: #E5F0B6;
  border-radius: 8px;
}

.navbar .container .container-right ul .container-right-second li div {
  width: 48px;
  height: 48px;
  padding: 12px;
  background: #553B33;
  border-radius: 8px;
}

main .content-first-second {
  display: flex;
  flex-direction: column;
}

main .content-first-second .content-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px;
  gap: 24px;
}

main .content-first-second .content-first h1 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #2F241F;
} 

main .content-first-second .content-first h1 .color-817253 {
  color: #817253;
} 

main .content-first-second .content-first .button-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
} 

main .content-first-second .content-first .button-option .button-option-first,
main .content-first-second .content-first .button-option .button-option-second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 61px;
  gap: 16px;
  border-radius: 12px;
  width: 100%;
}

main .content-first-second .content-first .button-option .button-option-first {
  background: #E5F0B6;
  border: none;
} 

main .content-first-second .content-first .button-option .button-option-second {
  border: 1px solid #553B33;
} 

main .content-first-second .content-first .button-option .button-option-first,
main .content-first-second .content-first .button-option .button-option-second {
  font-size: 14px;
  color: #553B33;
}

main .content-first-second .content-first .button-option .button-option-first .fa-magnifying-glass,
main .content-first-second .content-first .button-option .button-option-second .fa-circle-play {
  font-size: 17px;
} 

main .content-first-second .content-second {
  position: relative;
  z-index: 0;
}

main .content-first-second .content-second .image-container {
  max-width: 100%;
  height: auto;
}

main .content-first-second .content-second .highlighted-product {
  position: absolute;
  top: 15%;
  left: 9%;
  color: #000000;
  background: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}

main .content-first-second .content-second .information-product {
  position: absolute;
  left: 9%;
  bottom: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 82%;
}

main .content-first-second .content-second .information-product .price-product {
  padding: 8px 16px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  color: #FFFFFF;
}

main .content-first-second .content-second .information-product .name-product {
  width: 100%;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.5);
  color: #000000;
}

main .content-first-second .content-second .information-product .button-view-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 16px;
  background: #2F241F;
  border-radius: 12px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 12px;
}

main .content-third {
  background-color: #2F241F;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px;
  gap: 24px;
}

main .content-third span {
  color: #FFFFFF;
  font-size: 14px;
  color: #E5F0B6;
  text-align: center;
}

main .content-third .reasons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  color: #E5F0B6;
}

main .content-third .reasons .text-reasons {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

main .content-third .reasons .features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

main .content-third .reasons .features .icon-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

main .content-third .reasons .features .icon-text .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(229, 240, 182, 0.5);
  color: #F4F4F4;
  border-radius: 8px;
  min-width: 40px;
  min-height: 40px;
}

main .content-third .reasons .features .icon-text .icon .fa-magnifying-glass {
  font-size: 17px;
}

main .content-third .reasons .features .icon-text .icon .five {
  font-weight: 700;
  font-size: 24px;
}

main .content-third .reasons .features .icon-text .text {
  font-weight: 700;
  font-size: 15px;
  text-align: start;
}

main .content-fourth {
  display: flex;
  flex-wrap: wrap ;
  padding: 24px 24px 40px 24px;
  gap: 24px;
  background-color: #FCFAFA;
}

main .content-fourth .number-text {
  flex: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #2F241F;
}

main .content-fourth .number-text .number {
  font-weight: 700;
  font-size: 24px;
}

main .content-fourth .number-text .text {
  font-size: 14px;
}

main .content-fourth .company-logos {
  flex: 100%;
  gap: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .content-fourth .company-logos .logos {
  flex: 0 0 20%;
  height: 35px;
}

main .content-fifth {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  gap: 24px;
}

main .content-fifth .details-sections {
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

main .content-fifth .details-sections .title-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #2F241F;
  text-align: center;
}

main .content-fifth .details-sections .title-section .text-first {
  font-size: 14px;
}

main .content-fifth .details-sections .title-section .text-second {
  font-weight: 700;
  font-size: 18px;
}

main .content-fifth .details-sections .category-description {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

main .content-fifth .details-sections .category-description .category,
main .content-fifth .details-sections .category-description .category-detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 16px;
  background-color: #FCFAFA;
  color: #000000;
}

main .content-fifth .details-sections .category-description .category-detail {
  background-color: #E5F0B6;
  gap: 12px
}

main .content-fifth .details-sections .category-description .category .text-first,
main .content-fifth .details-sections .category-description .category-detail .text-first {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

main .content-fifth .details-sections .category-description .category-detail .text-second {
  font-size: 14px;
}

main .content-fifth .picture {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

main .content-fifth .picture img {
  width: 30%;
  object-fit: cover;
  background-position: center;
  border-radius: 12px;
}

main .content-fifth .picture .picture-detail {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2.5px 10px;
}

main .content-sixth {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 0;
  background-color: #2F241F;
}

main .content-sixth .section-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
  padding: 0 16px;
}

main .content-sixth .section-header .title-section {
  display: flex;
  flex-direction: column;
  color: #E5F0B6;
}

main .content-sixth .section-header .title-section .text-first {
  font-size: 14px;
}

main .content-sixth .section-header .title-section .text-second {
  font-weight: 700;
  font-size: 18px;
}

main .content-sixth .section-header .see-more {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 16px;
  background-color: #E5F0B6;
  border-radius: 12px;
  border: none;
  font-size: 12px;
  white-space: nowrap;
}

main .content-sixth .products-slider {
  display: flex;
  position: relative;
  padding-left: 16px;
}

main .content-sixth .products-slider ul {
  display: flex;
  flex-direction: row;
  gap: 16px;
  overflow: hidden;
}

main .content-sixth .products-slider ul li img {
  width: 163px;
  height: 217px;
  object-fit: cover;
  border-radius: 12px;
}

main .content-sixth .products-slider ul li img:first-child {
  margin-left: 0px;
}

main .content-sixth .products-slider ul .show-information-product img {
  width: 192px;
  height: 256px;
}

main .content-sixth .products-slider ul .show-information-product .information-product {
  visibility: visible;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  bottom: 29%;
  left: 3%;
  gap: 8px;
}

main .content-sixth .products-slider ul .show-information-product .price-product {
  padding: 8px 16px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  color: #FFFFFF;
  font-size: 14px;
}

main .content-sixth .products-slider ul .show-information-product .name-product {
  width: 94%;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.5);
  color: #000000;
  white-space: normal;
}

main .content-sixth .products-slider ul li .information-product {
  visibility: hidden;
}

main .content-sixth .products-slider i {
  top: 38%;
  height: 48px;
  width: 48px;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background: #E5F0B6;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

main .content-sixth .products-slider i:active {
  transform: translateY(-50%) scale(0.9);
}

main .content-sixth .products-slider .fa-angle-left {
  left: 0px;
}
main .content-sixth .products-slider .fa-angle-right {
  right: 0px;
}

main .content-seventh {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px;
  gap: 24px;
  background: #FCFAFA;
}

main .content-seventh .title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  color: #2F241F;
  text-align: center;
}

main .content-seventh .title-section .text-first {
  font-size: 14px;
}

main .content-seventh .title-section .text-second {
  font-weight: 700;
  font-size: 18px;
}

main .content-seventh .textfield-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

main .content-seventh .textfield-button input,
main .content-seventh .textfield-button .fa-envelope {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  gap: 8px;
}

main .content-seventh .textfield-button input {
  border: none;
  border-radius: 12px 0px 0px 12px;
}

main .content-seventh .textfield-button input,
main .content-seventh .textfield-button input::placeholder {
  color: #553B33;
  font-size: 12px;
}

main .content-seventh .textfield-button .fa-envelope {
  background: #E5F0B6;
  border-radius: 0px 12px 12px 0px;
  color: #553B33;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 24px;
  color: #303030;
}

footer .first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  justify-content: space-around;
}

footer .first-section .description {
  font-size: 12px;
  text-align: center;
}

footer .first-section .copyright {
  display: none;
}

footer .second-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 48px;
}

footer .second-section .first-section,
footer .second-section .second-section,
footer .second-section .third-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
}

footer .second-section .first-section h3,
footer .second-section .second-section h3,
footer .second-section .third-section h3 {
  font-size: 14px;
}

footer .second-section .first-section ul,
footer .second-section .second-section ul,
footer .second-section .third-section ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

footer .second-section .first-section ul a li,
footer .second-section .second-section ul a li,
footer .second-section .third-section ul a li {
  display: block;
  font-size: 12px;
}